## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Saint-Philippe,RE,80.19,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,6,Belmonte,BR,81.10,overcast clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
2,8,Trat,TH,81.99,overcast clouds,12.5000,102.5000,สวนหนิง-อัศ
3,10,Puerto Ayora,EC,82.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,18,Sinnamary,GF,77.07,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[clean_hotel_df["City"] == "Sao Joao Da Barra"]
vacation_end = clean_hotel_df.loc[clean_hotel_df["City"] == "Sao Joao Da Barra"]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df["City"] == "Marataizes"]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df["City"] == "Guarapari"]
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df["City"] == "Vila Velha"]

In [12]:
vacation_start_df = clean_hotel_df.loc[clean_hotel_df["City"] == "Sao Joao Da Barra"]
vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
162,476,Sao Joao Da Barra,BR,77.27,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas

In [13]:
vacation_stop1_df = clean_hotel_df.loc[clean_hotel_df["City"] == "Marataizes"]
vacation_stop1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
194,546,Marataizes,BR,77.09,clear sky,-21.0433,-40.8244,Ed. Barra Shopping

In [14]:
vacation_stop2_df = clean_hotel_df.loc[clean_hotel_df["City"] == "Guarapari"]
vacation_stop2_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
218,625,Guarapari,BR,80.49,clear sky,-20.6667,-40.4975,Hotel Porto do Sol

In [15]:
vacation_stop3_df = clean_hotel_df.loc[clean_hotel_df["City"] == "Vila Velha"]
vacation_stop3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
118,326,Vila Velha,BR,80.55,few clouds,-20.3297,-40.2925,Quality Suites Vila Velha

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
Sao_Joao_Da_Barra = start
Marataizes = stop1
Guarapari = stop2
Vila_Velha = stop3 
roadtrip = gmaps.directions_layer(Sao_Joao_Da_Barra, Sao_Joao_Da_Barra, 
                                  waypoints=[Marataizes, Guarapari, Vila_Velha],
                                  travel_mode="DRIVING")
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,476,Sao Joao Da Barra,BR,77.27,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
1,546,Marataizes,BR,77.09,clear sky,-21.0433,-40.8244,Ed. Barra Shopping
2,625,Guarapari,BR,80.49,clear sky,-20.6667,-40.4975,Hotel Porto do Sol
3,326,Vila Velha,BR,80.55,few clouds,-20.3297,-40.2925,Quality Suites Vila Velha

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# fig.add_layer(marker_layer)
fig.add_layer(roadtrip)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))